/* Box sản phẩm */
.boxconten{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.mb10{
    margin-bottom: 10px;
    margin-right: 2%;
    margin-left: 200px;
}

.boxsp{
    float: left;
    width: 15%;
    min-height: 300px;
    border: 1px #eee solid;
    border-radius: 5px;
    width: 22%;
    margin: 20px;
    text-align: center;
}
.boxsp a{
    font-size: 16px;
    color: teal;
    text-decoration: none;
}
.boxsp p{
    font-size: 18px;
}
.boxsp .img{
    min-height: 230px;
    text-align: center;
}
.boxsp button{
    background-color: rgb(15, 15, 15);
    color: white;
    margin-bottom: 10px;
}
.boxsp button:hover{
    background-color: rgb(83, 81, 81);
    
}
/* END */
